html,body,div,h1,h2,h3,h3,dl,dd,dt{padding:0;margin:0;}
body{font:normal 12px/1.4 Georgia;padding:1em;}
a:link,a:visited{color:#1E52CD;}
a:hover,a:focus{color:#DB7E08;}
div.system{display:none;}
/* FOUC avoideance. */
html.js > div{display:none;}
